.header {
  height: 55px;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;

  border-bottom: 1px solid rgb(228, 228, 228);
}
.tooltip {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 3px;
  white-space: nowrap;
  pointer-events: none;
}
.left_section {
  display: flex;
  align-items: center;
}
.hamburger {
  width: 50px;
  height: 24px;
  margin-left: 30px;
  cursor: pointer;
}
.logo {
  display: flex;
  margin-left:6px;
}
.red_logo {
  height: 20px;
  margin-top: 1px;
}
.red_logo_1 {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.text_logo {
  width:55px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.middle_section {
  flex: 1;
  margin-left: 50px;
  margin-right: 30px;
  max-width: 700px;
  display: flex;
  align-items: center;
}
.search_box {
  flex: 1;
  height: 35px;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid rgb(201, 201, 201);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.07);
  width: 0;
}
.search_box::placeholder {
  font-size: 16px;
}
.icon_search {
  height: 39px;
  width: 60px;
  margin-left: -1px;
  border: 1px solid rgb(201, 201, 201);
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  position: relative;
}
.icon_search .tooltip {
  position: absolute;
  bottom: -40px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.2s
}
.icon_search:hover .tooltip {
  opacity: 0.6;
}
.icon_search:hover {
  background-color: rgb(230, 230, 230);
}
.search_pic {
  width: 25px;
  height: 25px;
  margin-top: 3px;
}

.icon_mic {
  height: 39px;
  width: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  position: relative;
}
.icon_search,
.icon_mic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_mic .tooltip {
  position: absolute;
  bottom: -39px;
  left: -30px;
  opacity: 0;
  transition: opacity 0.2s;
}
.icon_mic:hover .tooltip {
  opacity: 0.6;
}
.icon_mic:hover {
  background-color: rgb(230, 230, 230);
}
.mic_pic {
  margin-top: 2px;
  margin-left: 1px;
  width: 23px;
  height: 27px;
}
.right_section {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload,
.app,
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon_upload {
  height: 25px;
  cursor: pointer;
}
.upload .tooltip {
  position: absolute;
  bottom: -43px;
  left: -12px;
  opacity: 0;
  transition: opacity 0.2s;
}
.upload:hover .tooltip {
  opacity: 0.6;
}
.icon_app {
  height: 25px;
  cursor: pointer;
}
.app .tooltip {
  position: absolute;
  bottom: -43px;
  left: -23px;
  opacity: 0;
  transition: opacity 0.2s;
}
.app:hover .tooltip {
  opacity: 0.6;
}
.icon_notification {
  height: 25px;
  cursor: pointer;
}
.notification_num {
  position: absolute;
  font-family: Roboto, Arial;
  font-size: 13px;
  background-color: rgb(219, 22, 22);
  color: white;
  top: -3px;
  right: -6px;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.notification .tooltip {
  position: absolute;
  bottom: -43px;
  left: -7px;
  opacity: 0;
  transition: opacity 0.2s;
}
.notification:hover .tooltip{
  opacity: 0.6;
}
.right_button {
  height: 38px;
  width: 38px;
  border-radius: 19px;
  font-weight: 100px;
  font-size: 13px;
  border: none;
  background-color: rgba(129, 88, 88);
  color: rgb(240, 240, 240);
  cursor: pointer;
}
