.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  width: 80px;
  background-color: white;
  padding-top: 5px;
  z-index: 200;
}
.sidebar_box {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar_box:hover {
  background-color: rgb(240, 240, 240);
}
.sidebar_box img {
  height: 25px;
  margin-bottom: 4px;
}
.sidebar_box div {
  font-size: 10px;
}
@media (max-width: 900px) {
  .sidebar {
    opacity: 0;
    pointer-events: none;
  }
}